body {
    margin: 0;
    padding: 0;
    background:rgb(229, 232, 255);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-around;
    justify-content: center;
}

.flex-item {
    margin: 0.25vh 1vw;
    display: flex;
    flex: auto;
    width: 45vw;
    overflow-y: hidden;
    justify-content: center;
}   

#personal-container {
    margin-top: .5vh;
}

.flex-item.personal {
    height: 30vh;
    margin: 0 5vw;
    width: 15vw;
}

.flex-item.personal img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.flex-item.news {
    height: 35vh;
    border: black 2px solid;
}

.flex-item.bottom {
    height: 30vh;
}

.calendar {
    border: black 2px solid;
    overflow-x: hidden;
}

.bottom img {
    object-fit: cover;
    width: 60%;
    height: auto;
}
